@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --error-message: crimson;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    @apply text-4xl;
}

.authButton {
    @apply text-xl text-black bg-white font-light py-2 px-4 rounded;
}

.errorMessage {
    color: var(--error-message);
}